/*navbar*/
.navbar .navbar-nav .login-btn {
    background-color: #0c4e95;
    border-radius: 3px;
    color: #fff !important;
}

/*landing page*/
.landing-page figure img {
    display: block;
    margin: auto;
}
.landing-page figure{
    padding-top: 100px;
}
.landing-page .btn{
    background-color: #f3f3f3;
    color: #a2a2a2
}
.landing-page .submit-btns .btn:hover{
    ox-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
/*search bar*/
.search-form{
    position: relative;
    padding: 10px 0;
}
.search-form .btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    color: #a2a2a2;
    background-color: transparent;
}
.search-form input{
border-radius: 30px;
border: none;
box-shadow:1px 1px 6px 2px #dcdbdb;
}
/*footer*/
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
footer nav ul a{
    font-size: 12px;
    color: #2a2a2a;
}
footer .country p{
    font-size: 14px;
    color: #2a2a2a;
}
footer .footer-bar{
    background-color: #f3f3f3;
    border-top: 1px solid #e4e4e4;
}